.image{
    width: 150px;
    height: auto;
}
.actor {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.actor li {
    width: calc(20% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;

}